 body {
     font-family: Arial, sans-serif;
     margin: 0px;
     padding: 0px;
 }

 h1 {
     text-align: center;
     margin: 20px 0;
 }

 .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
 }

 .galeria-item img {
    width: 100%;
    height: 100%;    
    object-fit: cover;  
    border-radius: 8px;
    transition: transform 0.3s;
 }

 .galeria-item img:hover {
     transform: scale(1.01);
 }

 .descripcion {
     text-align: center;
     margin-top: 5px;
     font-size: 1.2rem;
     color: black;
 }

 .modal {
     display: none;
     position: fixed;
     z-index: 1000;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.9);
     overflow: auto;
     padding-top: 60px;
 }

 .modal-content {
     margin: auto;
     display: block;
     max-width: 90%;
     max-height: 80vh;
     border-radius: 10px;
 }

 .modal-descripcion {
     text-align: center;
     color: white;
     margin: 10px auto;
     font-size: 1.1rem;
 }

 .close {
     position: absolute;
     top: 20px;
     right: 35px;
     color: red;
     font-size: 40px;
     font-weight: bold;
     cursor: pointer;
 }

 .close:hover {
     color: darkred;
 }
 @media (max-width: 600px) {
.descripcion {
    font-size: 0.7rem;    

}
 .galeria-item {
     margin-bottom: 10%;
 }
}